body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 25px;
  background-image: url(resim.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#registration{
  width: 600px;
    height: 400px;
    padding: 20px;
    background-color: skyblue;
    position: relative;
    margin: auto;
}
input{
  font-size: 20px;
}
#submit{
  position: absolute;
  right: 150px;
  background-color:#b0e0e6;
  width: 100px;
  height: 35px;
}
#welcome{
  color:yellow;
  background-color: red;
}
#profile{
    width: 600px;
    height: 500px;
    padding: 20px;
    background-color: yellowgreen;
    position: relative;
    margin: auto;
}
#files{
    width: 900px;
    height: 600px;
    padding: 20px;
    background-color:yellow;
    position: relative;
    margin: auto;
    display: flex;
}

#official-document,#course,#job,#social{
  border-style: groove;
  border-width: 15px;
  background-color:green;
}
#family-union{
  width: 900px;
  height: 600px;
  padding: 20px;
  background-color:yellow;
  position: relative;
  margin: auto;
}
#family-union input{ 
  width: 400px;
}
#dashboard{
  width: 900px;
  height: 600px;
  padding: 20px;
  background-color:yellow;
  position: relative;
  margin: auto;
  display: flex;
  
}
#home,#about,#contact{
  border-style: groove;
  border-width: 15px;
   font-size: 30px;
}